<!-- <nz-spin [nzSpinning]="isSpinning">
  <div class="p-6">
    <div *ngFor="let booking of bookings"
      class="flex bg-slate-400 p-4 rounded-lg mb-4 shadow-md items-center justify-between">
      <div>{{booking.id}} - {{booking.bookCarStatus}}</div>

      <div *ngIf="booking.bookCarStatus == 'PENDING'">
        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
          (click)="changeBookingStatus(booking.id, 'Approve')">
          Approve
        </button>

        <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
          (click)="changeBookingStatus(booking.id, 'Reject')">
          Reject
        </button>
      </div>
    </div>
  </div>
</nz-spin> -->
<div *ngIf="isSpinning" class="flex items-center justify-center py-12">
  <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full text-blue-500"></div>
</div>

<div class="p-6" *ngIf="!isSpinning">
  <div *ngFor="let booking of bookings" class="flex bg-slate-400 p-4 rounded-lg mb-4 shadow-md items-center justify-between">
    <div>{{ booking.id }} - {{ booking.bookCarStatus }}</div>

    <div *ngIf="booking.bookCarStatus == 'PENDING'" class="flex space-x-4">
      <button
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
        (click)="changeBookingStatus(booking.id, 'Approve')">
        Approve
      </button>

      <button
        class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400"
        (click)="changeBookingStatus(booking.id, 'Reject')">
        Reject
      </button>
    </div>
  </div>
</div>
